@import url("./drafter_base.css");

.drafter-frame-- {
    padding: 0;
    border: 0;
}

.drafter-header-- {
    display: none;
}

.drafter-footer-- {
    display: none;
}

.drafter-debug-- {
    display: none;
}