@import url("./drafter_base.css");

body {
    height: 100vh;
}

#drafter-root-- {
    height: 100%;
}

.drafter-site-- {
    flex-direction: column;
    display: flex;
    height: 100%;
}

.drafter-frame-- {
    max-width: 100vw;
    overflow: auto;
    padding: 0em;
    flex-grow: 1;
}

.drafter-body-- {
    border: 1px solid lightgrey;
}

.drafter-form-- {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.drafter-padding-h-- {
    flex: 0 0 1em;
    background-color: white;
}

.drafter-padding-v-- {
    flex: 0 0 1em;
    background-color: white;
}

.drafter-header-- {
    background-color: #EEE;
    border: 1px solid lightgrey;
    border-bottom: 0px;
    padding-left: 1em;
    font-weight: bold;

    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
}

.drafter-header-- .drafter-header-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.drafter-header-- .drafter-header-hot-buttons {
    margin-left: auto;
    margin-right: 1em;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.drafter-header-- .drafter-header-bar button {
    padding: 4px;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    color: black;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.drafter-header-- .drafter-header-bar button:hover {
    background-color: #DDD;
}

.drafter-footer-- {
    background-color: #EEE;
    border: 1px solid lightgrey;
    border-top: 0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    font-weight: bold;

    font-size: .9em;
    font-family: Arial, Helvetica, sans-serif;
}

.drafter-footer-- .drafter-footer-route {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    padding: 2px 4px;
    border: 1px solid #CCC;
    border-radius: 4px;
}

/*.reset-button--,
.about-button-- {
    float: right;
    cursor: pointer;
    background-color: white;
    padding: 4px;
    text-decoration: none;
    color: black;
}*/

.drafter-debug-- {
    flex-grow: 1;
    background-color: white;
}

.drafter-debug-- pre {
    margin: 0;
    padding: 1em;
    overflow: auto;
}


div.btlw-debug .copy-button {
    float: right;
    cursor: pointer;
    background-color: white;
    padding: 4px;
}

div.btlw-container img {
    display: block;
}

