<!DOCTYPE html>
<html lang="{{ meta_lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="{{ meta_keywords }}" />
    <meta name="description" content="{{ meta_description }}" />
    <meta name="author" content="{{ meta_author }}" />
    <title>{{ title or "Drafter App" }}</title>
  </head>
  <body>
    <div id="{{ drafter_root }}"></div>
    {% if inline_py %}<script type="text/python" id="user-code">{{ user_code }}</script>{% endif %}
    <script src="{{ static('skulpt.js') }}"></script>
    <script src="{{ static('skulpt-stdlib.js') }}"></script>
    <script src="{{ static('skulpt-drafter.js') }}"></script>
    <script src="{{ static('drafter.js') }}"></script>
    <script>
            (async () => {
              {% if dev_ws_url %}
              const ws = new WebSocket('{{ dev_ws_url }}');
              ws.onmessage = (e) => {
                const msg = JSON.parse(e.data);
                if (msg.type === 'reload') location.reload();
              };
              {% endif %}

              const app = await window.Drafter.runStudentCode({ 
                {% if inline_py %}
                code: document.getElementById('user-code').textContent
                {% else %}
                url: '{{ python_url }}'
                {% endif %}
              });
              console.log("[Drafter AppServer Scaffolding] Student Code Initialized:");
              
            })();
    </script>
  </body>
</html>
